* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
}


:root {
    --bg-color: #1e1e1e;
    --bg-text: white;
}




header {
    display: flex;
    justify-content: space-between;
    max-width: 1730px;
    margin: auto;
    display: flex;
    padding: 40px 120px;
    justify-content: space-between;
    flex-wrap: wrap;



    & .nav {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: center;

        & .active {
            color: black;
            font-weight: 600;
        }

        & .prt {
            color: #6B7280;
            font-weight: 400;
        }

        & .abt {
            color: #6B7280;
            font-weight: 400;
        }

        & .gnt {
            background-color: #1F1F39;
            display: flex;
            border-radius: 8.07px;
            color: white;
            font-weight: 700;
            font-size: 18px;
            padding: 13px 35px;
        }
    }
}

section {
    max-width: 1730px;
    margin: auto;
    padding: 120px;
}

.home {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

    & .content {
        max-width: 550px;
        display: flex;
        gap: 30px;
        flex-direction: column;


        & h1 {
            color: #1f1f39;
            font-size: 70px;
            font-weight: 700;
        }

        & p {
            font-size: 28px;
            line-height: 48px;
            letter-spacing: 0%;
            color: #1F1F39B2;
        }

        & a {
            width: 246.49px;
            padding: 18px;
            border-radius: 10.87px;
            padding: 10.87px;
            border: none;
            background-color: #1f1f39;




            font-weight: 700;
            font-size: 24.24px;
            color: #fff;
            display: flex;
            justify-content: center;
        }
    }
}



.Portifolio {

    & h2 {
        max-width: 900px;
        font-size: 40px;
        line-height: 60px;
        font-weight: 500;
        margin-bottom: 109px;
    }

    & .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 109px;
        justify-content: space-between;

        & .card {
            width: 600px;

            & img {
                width: 100%;
            }
        }

        & a {
            margin-top: 25px;
            font-weight: 400;
            font-size: 28px;
            color: #000000B2;



            & .bold-span {
                font-weight: 700;
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    background-color: #000000;

    & a {
        color: white;

    }


    p {
        color: white;
        font-weight: 500;
        font-size: 40px;
        max-width: 900px;
        margin-top: 29px;
        margin-bottom: 55px;
    }


    & .lt {
        border-radius: 10.87px;
        padding: 18px 63px;
        background-color: white;
        font-weight: 700;
        font-size: 24px;
        color: black;
    }
}



footer {
    padding:  50px 120px;
    background-color: black;
    max-width: 1730px;
    margin: auto;
    border-top: 1px solid #4F4F4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    

    & .copy{
        color:#FFFFFF80;
    }

    & .icons {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

}